/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* General container */
  #general {
    width: 1200px;
    margin: 20px auto;
    border: 5px solid black;
    overflow: hidden; /* Para contener los elementos flotantes */
  }
  
  /* Header */
  header {
    height: 100px;
    background-color: rgb(50, 50, 200);
    color: wheat;
    text-align: center;
    line-height: 100px;
  }
  
  /* Menu */
  #menu {
    background-color: #ccc;
  }
  
  #menu ul {
    list-style: none;
  }
  
  #menu li {
    float: left;
    border-right: 1px solid #eee;
  }
  
  #menu li:last-child {
    border-right: none;
  }
  
  #menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
  }
  
  #menu li:hover {
    background-color: rgb(50, 50, 200);
  }
  
  #menu li:hover a {
    color: wheat;
  }
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
  /* Main content */
  #contenido {
    float: left;
    width: 70%;
  }
  
  #contenido h3 {
    text-align: center;
    padding: 15px;
    color: #444;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  /* Boxes */
  .caja {
    float: left;
    width: calc(33.33% - 40px); /* Ajustado para que las cajas quepan mejor */
    height: 250px;
    margin: 20px;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: background-color 300ms;
  }
  
  .caja:hover {
    background-color: rgb(50, 50, 200);
    cursor: pointer;
  }
  
  .caja h4 {
    text-align: center;
    color: black;
  }
  
  .caja:hover h4 {
    color: wheat;
  }
  
  /* Sidebar */
  #lateral {
    float: left;
    width: 25%;
    min-height: 500px;
    max-height: 1165px;
    overflow-y: scroll;
    margin-top: 20px;
    text-align: justify;
  }
  
  /* Footer */
  footer {
    width: 100%;
    height: 55px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    text-align: center;
    line-height: 55px;
    clear: both;
  }
  